div {
    --border: 1px solid black;
    --box-sizing: border-box;
}
#header {
    height: 100px;
    width: 100%;
    background-color: aliceblue;
}
#main {
    height: 500px;
}
    #main-layer1 {
        height: 100%;
        width: 20%;
        float: left;
        background-color: skyblue;
    }
    #main-layer2 {
        height: 100%;
        width: 80%;
        float: left;
        background-color: greenyellow;
    }
#footer {
    height: 100px;
    background-color: violet;
}