body {
    height: 700px;
}
header {
    height: 15%;
    display: flex;
}
#logo {
    width: 30%;
    height: 100%;
}
    #logo img {
        width: 100%;
        height: 100%;
    }
#nav {
    height: 100%;
    width: 70%;
    background-size: cover;
    background-image: url("../images/navbar3.PNG");
    display: flex;
}
    #nav2 {
        width: 50%;
        display: flex;
    }
        #nav2 input {
            justify-content: center;
        }
    #nav3 {
        width: 50%;
    }
        #nav3 ul {
            list-style-type: none;
            display: flex;
        }