h2 b{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3rem;
}
#main_middle {
  margin-top: 30px;
}
.pay {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.pay img {
  width: 100px;
}
.pay th {
  border: 1px solid #ccc;
  background-color: #dddcdc;
}
.pay tr, .pay td {
  border: 1px solid #ccc;
}
.totalPrice {
  width: 40%;
  color: red;
  font-weight: 900;
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px 15px;
  margin: 3% 10%;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}